
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>

    <link rel="stylesheet" href="css/styles.css">

</head>

<body>
    <div class="details">
<h1 class="city-name"><%=tempDetails.city_name%></h1>
        <h1 class="tempDetails">Current Temperature:
            <%=tempDetails.temp%>&#176C</h1>

        <p>The weather is currently
            <%=tempDetails.description%>
        </p>

        <img class="image" src=<%=tempDetails.imageUrl%>>
        <div class="description">
            <h2>Min Temp:
                <%=tempDetails.min_temp%>&#176C</h2>
            <h2>Max Temp:
                <%=tempDetails.max_temp%>&#176C</h2>
            <h2>Pressure:
                <%=tempDetails.pressure%>
            </h2>
            <h2>Humidity:
                <%=tempDetails.humidity%>
            </h2>
        </div>
    </div>
    </body>
    </html>
    